{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'IniciarSesion.css' %}">
    <div class="login-container">
        <h1>Iniciar sesión</h1>
    
        {% if error %}
            <p class="error">{{ error }}</p>
        {% endif %}
    
        <form action="/IniciarSesion/" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Iniciar Sesión</button>
        </form>
    </div>
{% endblock %}
